*.pyc
**/errors/
**/sessions/
**/LDView-build/
**/node_modules/
**/vc14-Debug/
**/vc14-Release/
**/Debug/
**/Release/
**/ipch/
*.pubxml.user

publish/
*.orig

*.VC.*

Thumbs.db

.axoCover/
bin/
packages/
obj/
.vs/
logs/
.vagrant/
.axoCover/